<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myOrder</title>
    <link rel="stylesheet" href="/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="/image/Logo.png" alt="" width="100px">
                </div>
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Product</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                        <li><a href="/user/cart"><i class="fas fa-cart-shopping"></i></a></li>
                        <li><a href="/user/profile"><i class="fa-solid fa-user"></i>Profile</a></li>

                    </ul>
                </nav>
                <!-- <span class="menu-icon"><i class="fas fa-bars"></i></span> -->
            </div>

        </div>
    </div>
    <!-- userprofile  -->
    <div class="container wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="list">

                    <div class="sidebar-heading text-center  py-4 primary-text fs-4 fw-bold text-uppercase  ">
                        Welcome
                    </div>
                    <div class="list-group list-group-flush my-3  ">

                        <a href="/user/profile"
                            class="list-group-item list-group-item-action bg-transparent second-text fw-bold ">
                            Account Overview
                        </a>
                        <a href="/user/manageAdresses"
                            class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                            Manage Addresses
                        </a>
                        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                            My Orders
                        </a>
                        <a href="" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                            My wishlist
                        </a>
                        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h3>Order History Page</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                              
                                <th>Product Name</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>View </th>
                                <th>Pdf</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (typeof orders !== 'undefined') { %>
                            <% orders.forEach(order => { %>
                            <tr>
                              
                                <td>
                                    <% order.items.forEach(item => { %>
                                    <%= item.product.productName%><br>
                                    <% }); %>
                                </td>
                                <td><%= order.totalAmount %></td>
                                <td><%= order.status %></td>
                                <td>
                                    <% if (!order.deleted) { %>
                                    <form id="cancelOrderForm_<%= order._id %>" action="/user/cancel-order/<%= order._id %>" method="POST">
                                        <button id="cancelButton_<%= order._id %>" type="button" class="btn btn-light" onclick="confirmCancellation('<%= order._id %>')">Cancel</button>
                                    </form>
                                    <% } else { %>
                                    <p class="text-muted">Order Canceled</p>
                                    <% } %>
                                </td>
                                <td  >    <a href="/user/viewDetails/<%= order._id %>" >ViewDetail</a></td>
                                <td><a href="/user/orderDetails/pdf/<%= order._id %>" class="btn btn-light">invoice</a></td>
                            </tr>
                            <% }); %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <script>
       function confirmCancellation(orderId) {
        if (confirm("Are you sure you want to cancel this order?")) {
            // Submit the form
            document.getElementById(`cancelOrderForm_${orderId}`).submit();
            // Hide the button
            document.getElementById(`cancelButton_${orderId}`).style.display = 'none';
        }
    }
            </script>
            
            
            
              
        </div>
    </div>









    <!-- footer -->
    <footer>
        <div class="foot-container items">
            <ul class="footer-list">
                <li class="caption">Company</li>
                <li>About</li>
                <li>Careers</li>
                <li>Team</li>
                <li>Visit Our Showroom</li>
            </ul>
        </div>
        <div class="foot-container items">
            <ul class="footer-list">
                <li class="caption">Contact us</li>
                <li>Help & Support</li>
                <li>Partner With Us</li>
                <li>Ride With us</li>
                <li class="caption"> Legal</li>
                <li>Terms & Conditions</li>
                <li>Cookie Policy</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="foot-container items">
            <div>
                <div> <img src="/image/Logo.png" style="width: 150px;height: 150px;" alt=""></div>
                <div>
                    <p>All trademarks are properties of their respective owners. 2008-2023 © WATCHHUT Ltd. All rights
                        reserved</p>
                </div>
            </div>
        </div>
        <div class="foot-container items">
            <ul class="footer-list">
                <li class="caption">Social links</li>
                <li><i class="fab fa-linkedin"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-twitter"></i>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>